.mainContainer{
    background-color: #000;
}

.container{
    background-color: #000;
    padding: 0;
    font-size: 1.5em;
}

#head{
    text-align: center;
    margin: 0.3em;
    color: #212529;
    font-size: 3.5em;
}

#subtext{
    margin-top: 1em;
    margin-left: 1.5%;
    margin-right: 1.5%;
    font-size: 0.9em;
    color: white;
}

.faqSingleContainer{
    background-color: #212529;
    width: 97%;
    margin: 1.5%;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
}

.faqSingleContainer h3{
    font-size: 1.5em;
    text-align: center;
    color: rgb(174, 173, 173);
}