.stories-container {
    display: flex;
    gap: 1rem; /* Spacing between each story */
    padding: 1rem 0;
    overflow-x: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
    scrollbar-width: none;
     /* Allows horizontal scrolling for stories */
  }
  .stories-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for smoother look */
  }
  .stories-container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .story-item {
    display: flex;
     flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    animation: scrol 5s linear infinite;
  }
  @keyframes scrol {
    0% {
      transform: translateX(0%); 
    }
    100% {
      transform: translateX(-105%); 
    }
  }

  .story-avatar-wrapper {
    /* position: relative; */
    flex-shrink: 0;
    margin-right: 20px;
  
   /*  background-color: black; 
    padding: 1px; 
    border-radius: 50%;  */
  }
  
  .story-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Makes the image circular */
    border: -7px solid transparent; /* Transparent border to avoid jump when hovering */
     padding: 2px;
    transition: border 0.3s ease;
  }
  
  .story-avatar:hover {
    border-color: black; 
  }

  .stories-container:before,
  .stories-container:after{
    position: absolute;
  
    width: 70px;
    height: 80px;
    
    content: "";
    z-index: 2;

  }
  .stories-container:before{
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0),#232222);

  }
  .stories-container:after{
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0),#232222);
  }